:root {
    --gray0:#033749;
    --gray1:#0f5876;
    --gray2:#101112;
    --gray3:#141617;
    --gray4:#101111;
    --gray5:#0a0a0a;
    --gray6:#121719;
    --gray7:#0f0f0f;
    --text:#1a89ea;
    --red: #bb1212;
    --purple:#57149f1f;
    --clr-neon:rgb(21, 67, 203);
    --clr-bg:rgb(75, 205, 245);
}  /*declaring variables*/


body{
    padding-top: 10px;
    width: 98vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    --gray0:#070b77;
    --gray1:#1d219a;
    --gray2:#4044bb;
    --gray3:#565bda;
    color: rgb(134, 143, 136);
    font-family:"Rubik Vinyl";
    background-image:url('https://images.alphacoders.com/129/1290493.jpg'), url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-cyan-solid-color-background.jpg');
    background-repeat: no-repeat; 
    background-size:110% ;
    background-blend-mode: lighten;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 15em;
    width: 20em;
   
}

.container{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 34em;
    height: 30em;
    align-items: center;
    background:  var(--clr-neon);
    --bg: var(--gray0);
    --bg-nav: linear-gradient(to right, var(--gray0), var(--gray7));
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);
    padding: 1em;
    border-radius: 3em;
    z-index: 2;
    background-image: url("background-panel\\football-removebg-preview.png"), url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-cyan-solid-color-background.jpg'), url('https://images.unsplash.com/photo-1552083940-86877723de7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGFydHxlbnwwfHwwfHw%3D&w=1000&q=80');
      /*two times to \ to escape the \-*/
}



.player-image > img{
    width: 10em;
    height: 15em;
    clip-path: circle(109px at 82px 105px);
}

.special-ability{
    width: 8em;
}

article{
    color: var(--clr-bg);
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 74%;
    font-size: 20px;
}

.blue-plate:hover{
    filter:drop-shadow(2px 2px 20px var(--clr-neon));
    transition-timing-function: ease;
    transition: filter ease-in 250ms;
}

.blue-plate > img{
    width: 20em;
    height: 12em;
    z-index: 2;
}

.background{
    z-index: 1;
}

.button-container{
    padding-left: 32px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    filter: drop-shadow(0px 0px 10px var(--clr-bg));
}



#button{
    background-color: var(--clr-bg);
    height: 3em;
    width: 6em;
    border:none;
    box-shadow:1px 1px 9px -1px var(--clr-bg);
}

.prev-btn{
    clip-path: polygon(40% 0%, 40% 20%, 20% 47%, 20% 47%, 40% 80%, 40% 100%, 0% 50%);
}

.next-btn{
    clip-path: polygon(81% 50%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 80% 50%);
}


.container{
  background-position: center;
  background-size: 60em;
  padding: 97px;
  clip-path: circle(268px at 51% 50%);
  background-blend-mode:darken;
}  /*setting background image*/

.player-image{
    padding-left: 20px;
}

h2{
    padding-left: 47px;

}
.text{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    width: 270px;
   font-size: 30px;
}
.blue-plate{
    padding-left: 47px;
}

.upper-layer{
    display: flex;
    width: 30em;
    gap: 3px;
}

.stat-button{
    width: 5em;
    align-self: center;
    justify-self: center;
    width: fit-content;
}

.stat-button > button{
    padding: 0;
    width:5em;
    height: 3em;
    font-size: 30px;
    outline: none;
    color: var(--clr-bg);
    border: currentColor 0.125em solid;
    text-shadow: 1px 1px 10px var(--clr-bg), 0px 0px 10px rgba(232, 226, 226, 0.489);
    font-family:'Rubik Vinyl';
    background-color: transparent;
    border-radius: 10em ;
    font-weight: 900;

}

.stat-button > button:hover{
    filter:drop-shadow(1px 1px 10px var(--clr-bg));
    background-color: var(--clr-bg);
    color: rgba(241, 240, 240, 0.901);
}
